# ***Lecture No 2***
         List,sets,tuple

## ***List***
             ***list is used to store multiple types of data,it stores values in the form of indexing,we can store any tuple ,sets & any type of data in a single list***
             # only concatenated with a list
             # we can store list inside a list

In [6]:
#create a list
l=["saadi",1,2,3,4,33.24,True]
print(l[6])
print(l)

True
['saadi', 1, 2, 3, 4, 33.24, True]

##### ***Slicing in  A list***

In [ ]:
print(l[0:3])
# Reverse Slicing
print(l[::-1])
# Print only those items that's present in even indexing
print(l[::2])
# print string that's present in a list, first two elements 
print(l[0][0:2])
# only we can merge list with list not with any other type of data type
# Example
l1=[2,3,4]
print(l+l1)
l.

['saadi', 1, 2]
[True, 33.24, 4, 3, 2, 1, 'saadi']
['saadi', 2, 4, True]
sa
['saadi', 1, 2, 3, 4, 33.24, True, 2, 3, 4]

## ***(shift + tab) used to check functionality of any function***

# ***Data insertion into A list***
### ***append , extend & insert***
          append add data at the end of list  without unrapping
          extend add data at the end of  list with rapping 
          insert used to insert data at any index

In [30]:
# Example of append
l.append("saadi")
print(l)
# Example of extend
l.extend("saadi")
print(l)
# Example of insert
l=[1,2,3,5,6,2]
l.insert(2,"saadi")
l.insert(-1,"ali")
print(l)

[1, 2, 'saadi', 3, 5, 6, 2, 'saadi']
[1, 2, 'saadi', 3, 5, 6, 2, 'saadi', 's', 'a', 'a', 'd', 'i']
[1, 2, 'saadi', 3, 5, 6, 'ali', 2]

# ***Deletion of data into a list***
### ***pop & remove***
                       pop remove to used with indexing number
                       remove used to dell any value with value

In [46]:
# example of pop
l2=[2,3,4,5,[2,5,6,7]]
l2.pop(3)
print(l2)
# example of remove
l2.remove(4)
print(l2)

[2, 3, 4, [2, 5, 6, 7]]
[2, 3, [2, 5, 6, 7]]

In [48]:
l3=[2,3,5,1,[1,2,3,4]]
l3[4].remove(1)
print(l3)

[2, 3, 5, 1, [2, 3, 4]]

### ***A list is sortable if it has only same data types Elements*** 
### ***Here,we discuss some other functions in list like (reverse(),sort(in Ascending order or decending with reverse ==true))***

In [58]:
l4=[1,2,3,4,6,1,9,10,4]
#sorting
l4.sort()
print(l4)
# sorting in reverse order
l4.sort(reverse=True)
print(l4)

# Reversing of list permanently
l4.reverse()
print(l4)

[1, 1, 2, 3, 4, 4, 6, 9, 10]
[10, 9, 6, 4, 4, 3, 2, 1, 1]
[1, 1, 2, 3, 4, 4, 6, 9, 10]

### ***Replacement  of items in list***

In [ ]:
# list is mutable
l5=[1,2,4,6,1]
l5[0]=5
l5

[5, 2, 4, 6, 1]

In [61]:
# string is immutable
a="saadi"
a.replace("a","d")

'sdddi'

# ***Tuples***
              tuple is immutable
              can store any type of data
              use pranthesis,to write values

In [72]:
t=(3,2,1,[1,2,3,3,4],"saadi")
t.count(3)
print(t[3].count(3))
print(t)

2
(3, 2, 1, [1, 2, 3, 3, 4], 'saadi')

# ***Set***
           Unordered collection of data
           write by curly braces
           Indexing and slicing operations are not allowed in set

In [74]:
s={2,3,1,1,1,3,3,4,4,5,3,2,67,8,2,3,2,9,0,"saadi"}
print(s)

{0, 1, 2, 3, 4, 5, 67, 8, 9, 'saadi'}