# ***Lecture 4***
## ***link of lecture***
### https://drive.google.com/file/d/1cFg4xiV_E-VSox-Hsx4iZPVa-K-aIw7e/view?usp=drive_link

### ***Continue & break***
#### ***Continue in loops***

In [16]:
l=["Saadi","Ali","","umer"]
for i in l:
    if i=="Ali":
        continue
    print(i)

Saadi

umer

#### ***break in loops***

In [17]:
l2=["saadi","asma","umer"]
for i in l2:
    if i=="asma":
        break
    print(i)

saadi

### ***range()***
#### ***Used to generate data***
##### ***Syntex*** ##### ***range(start,end,step)***

In [18]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

### ***print elements at even index number in a list***

In [24]:
l3=[22,33,1,55,6,2,3,34,5,6,7,7,6,6,5,4,4,3,2,234,4,5,6,3,3]
for i in range(0,len(l3),2):
    print(l3[i])

22
1
6
3
5
7
6
5
4
2
4
6
3

### ***Sum of data in a list***

In [28]:
l5=[4,3,2,1,5,66,3,2,1,8,4,3]
result=0
for i in l5:
    result=result+i
print(result)

102

### ***loops in dictionary***

In [29]:
# print all items 
dic2={"name":"saadi","Class":"3B","Department":"DSAI","data":{1:"fahad",2:"umer",3:"Khadija",4:"Asma"}}
for i in dic2.items():
    print(i)

('name', 'saadi')
('Class', '3B')
('Department', 'DSAI')
('data', {1: 'fahad', 2: 'umer', 3: 'Khadija', 4: 'Asma'})

In [32]:
#print only keys
dic2
for i in dic2.keys():
    print(dic2[i])

saadi
3B
DSAI
{1: 'fahad', 2: 'umer', 3: 'Khadija', 4: 'Asma'}

In [37]:
# print only values
print(dic2)
for i in dic2.values():
    print(i)

{'name': 'saadi', 'Class': '3B', 'Department': 'DSAI', 'data': {1: 'fahad', 2: 'umer', 3: 'Khadija', 4: 'Asma'}}
saadi
3B
DSAI
{1: 'fahad', 2: 'umer', 3: 'Khadija', 4: 'Asma'}