# ***Lecture 6***
# ***Functions***

### ***Functions increase reuseabilty of code***

In [1]:
# we can make any function  without any working by usnig a keyword "pass"
def test():
    pass

### ***Differ B/W print() & return in any function***
          ***print() provide only string***
          ***return give any type of data when we call any function***

In [ ]:
# example by print()
def test1():
    print("My Name is M.saad Ali")

# call function
test1()

My Name is M.saad Ali

In [ ]:
# Example by return
# We can perform all operation of strings by using return
def test2():
    return "My name is M.saad Ali"

test2()

'My name is M.saad Ali'

### ***Examples by multiple operations***

In [ ]:
#Pass Arguments in a function
def test3(a,b):
    return a*b

test3(2,3)

6

In [14]:
#Appending in list

def appending(v):
    l=[]
    for i in v:
        l.append(v)
    return l

a=[6,3,6,8]
appending(a)

[[6, 3, 6, 8], [6, 3, 6, 8], [6, 3, 6, 8], [6, 3, 6, 8]]

### *args
         ***by using it we can pass multiple values in a function***
        ***Example***

In [15]:
def test4(*args):
    return args

test4(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

### ***For obtaining key value payer format values in a functions we use double asteric test(**kwargs)***

In [16]:
def test5(**kwargs):
    return kwargs

test5(a=[1,2,3,4,5],b="saadi")

{'a': [1, 2, 3, 4, 5], 'b': 'saadi'}