# ***Lecture 1***
### ***Pandas Basics***
##### ***Link https://drive.google.com/file/d/1MRkzrhwETLHD3cnYDe4j9xCxHQtqou83/view***

In [3]:
import pandas as pd
import openpyxl

In [6]:
df=pd.read_excel("AI && ML.xlsx")
df

,S. No.,Main Topic,Lecture Name (Is order mein shuru karein),Attendance,Unnamed: 4
0,1,Python Basics (Live),000. 30th Jan Live Class python basics (Aapka ...,NaN,https://drive.google.com/file/d/1D4yYXOlmD5TTm...
1,2,Data Types,"000. 31st Jan Live Class list, tuple and set",NaN,https://drive.google.com/file/d/1qHBqcMJGGpCNq...
2,3,Data Structures,005. Sets,NaN,https://drive.google.com/file/d/1QJeYi6cse7OYS...
3,4,Control Flow/Loops,"000. 1st_Feb_Live_Class_dict_, conditional, _loop",NaN,https://drive.google.com/file/d/1c_llAE9Kk-O-f...
4,5,Looping Practice,000. For Loop Practice,NaN,https://drive.google.com/file/d/1cFg4xiV_E-VSo...
...,...,...,...,...,...
218,216,Project,005. Data Transformation ML Project,NaN,https://drive.google.com/file/d/1lRrGna5TJ_1wV...
219,217,Project,003. End To End Project Decision Tree SVC,NaN,https://drive.google.com/file/d/1NJ278hhlnKyRe...
220,218,Cloud Deploy,001. Deployment in Azure,NaN,https://drive.google.com/file/d/1_NecYJBnRDbGI...
221,219,Cloud Deploy,002. Deployment On Web Portal On AWS Cloud,NaN,https://drive.google.com/file/d/1ObFlsAu-QU8_u...
222,220,Final Step,007. End To End Project Deployment (Project ko...,NaN,https://drive.google.com/file/d/1MUPtTaAvy0RT5...

In [13]:
# Print first any values
df.head()

,S. No.,Main Topic,Lecture Name (Is order mein shuru karein),Attendance,Unnamed: 4
0,1,Python Basics (Live),000. 30th Jan Live Class python basics (Aapka ...,NaN,https://drive.google.com/file/d/1D4yYXOlmD5TTm...
1,2,Data Types,"000. 31st Jan Live Class list, tuple and set",NaN,https://drive.google.com/file/d/1qHBqcMJGGpCNq...
2,3,Data Structures,005. Sets,NaN,https://drive.google.com/file/d/1QJeYi6cse7OYS...
3,4,Control Flow/Loops,"000. 1st_Feb_Live_Class_dict_, conditional, _loop",NaN,https://drive.google.com/file/d/1c_llAE9Kk-O-f...
4,5,Looping Practice,000. For Loop Practice,NaN,https://drive.google.com/file/d/1cFg4xiV_E-VSo...

In [14]:
# Print last values
df.tail()

,S. No.,Main Topic,Lecture Name (Is order mein shuru karein),Attendance,Unnamed: 4
218,216,Project,005. Data Transformation ML Project,NaN,https://drive.google.com/file/d/1lRrGna5TJ_1wV...
219,217,Project,003. End To End Project Decision Tree SVC,NaN,https://drive.google.com/file/d/1NJ278hhlnKyRe...
220,218,Cloud Deploy,001. Deployment in Azure,NaN,https://drive.google.com/file/d/1_NecYJBnRDbGI...
221,219,Cloud Deploy,002. Deployment On Web Portal On AWS Cloud,NaN,https://drive.google.com/file/d/1ObFlsAu-QU8_u...
222,220,Final Step,007. End To End Project Deployment (Project ko...,NaN,https://drive.google.com/file/d/1MUPtTaAvy0RT5...

In [15]:
# Check type of data
type(df)

pandas.DataFrame

In [ ]:
# Save file into any format
df.to_csv("Pandas.csv")

In [26]:
# Print All columns
df.columns

Index(['S. No.', 'Main Topic', 'Lecture Name (Is order mein shuru karein)',
       'Attendance', 'Unnamed: 4'],
      dtype='str')

In [27]:
df[['S. No.', 'Main Topic']]

    S. No.            Main Topic
0        1  Python Basics (Live)
1        2            Data Types
2        3       Data Structures
3        4    Control Flow/Loops
4        5      Looping Practice
..     ...                   ...
218    216               Project
219    217               Project
220    218          Cloud Deploy
221    219          Cloud Deploy
222    220            Final Step

[223 rows x 2 columns]